<!DOCTYPE html>
<html lang="en" class="page  {{ page.page-class }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>{{ page.title }} &ndash; a simple test test </title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="description" content="hdennison.com is the personal and professional website of Harold Dennison, frontend developer, UX lover and design aficionado.">
</head>
<body>
     {{ content }}
</body>
</html>
